<!DOCTYPE html>
<html>
	<head>
		<title>Главная страница</title>
	</head>
	<body>
		<div class="container">
			<h1>Приветствуем 👋</h1>
      <p>Вы можете войти на сайт (реально?? 😯😯😯)</p>

			<div class="container" style="background-color:#f1f1f1">
				<a href="/auth">Войти</a>
			</div>
	</body>
	<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

		a {
			background-color: #04AA6D;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}

		button:hover {
			opacity: 0.8;
		}

		.cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color: #f44336;
		}

		.container {
			padding: 16px;
		}

		@media screen and (max-width: 300px) {
			span.psw {
				display: block;
				float: none;
			}
			.cancelbtn {
				width: 100%;
			}
		}
	</style>
</html> 